$mobile-size:480px;

@mixin fontCY() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin fontPE() {
  color: #8e8e8e;
  font-family: "Averta Demo PE";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: 435px;
  height: fit-content;
  background: #252525;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  @media(max-width:$mobile-size){
    //width:220px;
    width:300px;
    padding:10px;
    gap:10px;
  }
  .header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .titleBlock {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      & h3 {
        @include fontCY();
        font-size: 15px;
        @media(max-width:$mobile-size){
          font-size:15px;
          // font-size:8px;
          font-weight:600;
        }
      }
      .categoryLink {
        @include fontPE();
        color: #9c3131;
        font-size: 10px;
        @media(max-width:$mobile-size){
          font-size: 10px;
          // font-size: 6px;
        }
      }
    }
    .gradeBlock {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      .grade {
        @include fontPE();
        color: #fff;
        font-size: 20px;
        @media(max-width:$mobile-size){
          font-size: 12px;
          // font-size: 8px;
          font-weight: 600;
        }
      }
      .stars {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        @media(max-width:$mobile-size){
          gap:1px;
        }
        .starWrapper {
          position: relative;
          .star {
            width: 12px;
            aspect-ratio: 1/1;
            @media(max-width:$mobile-size){
              width:10px;
              // width:7px;
            }
          }
        }
      }
    }
  }
  .splitter {
    width: 100%;
    border-bottom: 1.5px solid #4e4e4e;
    // border-bottom: 1px solid #4e4e4e;
  }
  .reviewBlock {
    overflow: hidden;
    & h4 {
      @include fontCY();
    }
    & p {
      @include fontPE();
      @media(max-width:$mobile-size){
        font-size: 10px;
        // font-size: 6px;
      }
    }
  }
  .taskBlock {
    overflow: hidden;
    & h4 {
      @include fontCY();
    }
    & p {
      @include fontPE();
    }
  }
  .points {
    overflow: hidden;
    width: 100%;
    height: 104px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .pointWrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      & div:first-child {
        @include fontPE();
        color: #9c3131;
        font-size: 15px;
      }
      & div:last-child {
        @include fontPE();
        color: #fff;
        font-size: 20px;
      }
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .author {
      @include fontPE();
      color: #fff;
      @media(max-width:$mobile-size){
        font-size: 10px;
        // font-size: 6px;
      }
    }
    .result {
      @include fontPE();
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 7px;
      color: #9c3131;
      font-size: 10px;
      &Opened {
        color: #8e8e8e;
      }
      @media(max-width:$mobile-size){
        display:none;
      }
      .arrow {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        rotate: 0deg;
        transition: 0.3s;
        &Opened {
          rotate: 180deg;
          transition: 0.3s;
        }
      }
    }
  }
  &Opened {
    height: fit-content;
    transition: 0.3s;
  }
}
