.emptyList {
  color: #8e8e8e;
  font-family: "Averta Demo PE";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.wrapper {
  width: min(1395px, 100%);
  height: auto;
  .purchasesList{
    width:100%;
    height:auto;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
    @media(max-width:480px){
      padding:10px 0 0 0;
    }
  }
  .goodsBlock{
    width:min(1365px, 100%);
    margin: 90px 0 0 0;
    @media(max-width:480px){
      margin:25px 0 0 0;
    }
  }
}
