$mobile-width:480px;
$laptop-width:1536px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
    @media (max-width: 480px) {
      padding: 0 19px;
    }
    .main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      @media(max-width:$laptop-width){
        width:100%;
        padding:0 66px;
      }
      .header {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        & h2 {
          color: #fff;
          font-family: "Averta CY";
          font-size: 45px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .goToShop {
          color: #9c3131;
          font-family: "Averta Demo PE";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #9c3131;
            transition: 0.3s;
          }
          &:hover::before {
            width: 100%;
            transition: 0.3s;
          }
          @media (max-width: 480px) {
            display: none;
          }
        }
        @media (max-width: 480px) {
          & h2 {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
      .flexContainer {
        margin: 30px 0 0 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        @media(max-width:$laptop-width){
          width: 100%;
        }
        @media(max-width:480px){
          margin:15px 0 0 0;
        }
        .card {
          width: min(580px, 30%);
          height: 610px;
          background: #252525;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
          align-items: center;
          gap: 20px;
          @media(max-width:$laptop-width){
            height:36vw;
            gap:10px;
          }
          @media(max-width:480px){
            width:100%;
            height:auto;
            padding:25px 38px;
          }
          .topBlock {
            flex: 1 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image {
              width: min(290px, 100%);
              height: auto;
              @media(max-width:$laptop-width){
                width:20vw;
              }
            }
          }
          .bottomBlock {
            width: 100%;
            height: 228px;
            box-sizing: border-box;
            padding: 20px 35px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            @media(max-width:$laptop-width){
              height:180px;
              padding:0px 25px 10px;
              gap:10px;
            }
            @media(max-width:480px){
              height:auto;
              padding:0;
            }
            .title {
              width: 100%;
              height: 51px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-items: flex-end;
              color: #fff;
              font-family: "Averta CY";
              font-size: 35px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              @media(max-width:$laptop-width){
                font-size: 2vw;
              }
              @media(max-width:480px){
                height:auto;
                font-size: 14px;
              }
            }
            .links {
              width: 100%;
              height: 117px;
              display: flex;
              flex-flow: column wrap;
              justify-content: flex-start;
              align-items: flex-start;
              row-gap: 16px;
              column-gap: 139px;
              @media(max-width:$laptop-width){
                justify-content: space-around;
                column-gap:0;
              }
              @media(max-width:$mobile-width){
                height:60px;
                row-gap: 10px;
                column-gap: 0;
                align-content: space-between;
                align-items: stretch;
                @media(max-width:$laptop-width){
                  row-gap:3px;
                }
              }
              .link {
                color: #8e8e8e;
                font-family: "Averta Demo PE";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media(max-width:$laptop-width){
                  font-size:1.4vw;
                }
                @media(max-width:$mobile-width){
                  font-size: 10px;
                }
                &:hover {
                  color: #9c3131;
                }
              }
            }
          }
        }
      }
    }
  }
}
