$mobile-size:480px;
$laptop-size:1536px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  box-sizing: border-box;
  padding: 90px 0 90px 0;
  @media(max-width:$laptop-size){
    padding:90px 10px;
  }
  @media(max-width:$mobile-size){
    padding:25px 0;
  }
  .wrapper {
    width: min(1782px, 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      padding:0 19px;
    }

    .leftColumn {
      //width: 415px;
      width:0;
      flex-shrink: 0;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      box-sizing: border-box;
      padding:130px 0 0 0;
      @media(max-width:$mobile-size){
        display:none;
      }
      .adverticement{
        width:331px;
        height:auto;
      }
    }
    .rightColumn {
      flex-grow:1;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 86px;
      @media(max-width:$mobile-size){
        flex-grow:unset;
        width:100%;
        gap:45px;
      }
    }
  }
}
