$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    padding:0 19px;
    margin:45px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 680px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    @media(max-width:$mobile-size){
      min-height: 0;
      align-items: flex-start;
    }
    .title {
      @include font();
      margin: 124px 0 0 0;
      width: 1200px;
      font-size: 70px;
      font-weight: 700;
      @media(max-width:$mobile-size){
        margin:0;
        width:100%;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .subtitle {
      @include font();
      width: 1200px;
      font-size: 30px;
      font-weight: 400;
      @media(max-width:$mobile-size){
        width:100%;
        font-size: 12px;
        margin:3px 0 0 0;
      }
    }
    .flexContainer {
      margin: 55px 0 0 0;
      width: 1200px;
      height: 277px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 45px;
      @media(max-width:$mobile-size){
        margin:15px 0 0 0;
        width:100%;
        overflow-x: scroll;
        scrollbar-width: none;
        flex-flow:row nowrap;
        height:auto;
        justify-content: flex-start;
        row-gap: 0;
        column-gap:10px;
      }
      .card {
        width: 525px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        @media(max-width:$mobile-size){
          width:290px;
          height:auto;
          gap:10px;
          flex-shrink: 0;
        }
        .textBlock {
          .textBlockTitle {
            @include font();
            font-size: 28px;
            font-weight: 600;
            @media(max-width:$mobile-size){
              font-size: 17px;
            }
          }
          .text {
            width: 395px;
            @include font();
            color: #b0b0b0;
            font-size: 20px;
            font-weight: 400;
            @media(max-width:$mobile-size){
              font-size: 10px;
              width:auto;
            }
          }
        }
      }
    }
  }
}
