$mobile-size:480px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:50px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px;
    @media(max-width:$mobile-size){
      min-height: 0;
      padding:0 19px;
    }
    .mainFlex {
      margin: 166px 0 87px 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      @media(max-width:1750px){
        justify-content: center;
        align-items: center;
        gap:50px;
      }
      @media(max-width:$mobile-size){
        margin:0;
      }
      .actionBlock {
        margin: 96px 0 0 0;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 155px;
        @media(max-width:$mobile-size){
          margin:0;
          gap:15px;
          width:100%;
        }
        .mainInfo {
          .mainTitle {
            color: #fff;
            font-family: "Averta CY";
            font-size: 100px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            white-space: pre-line;
            @media(max-width:$mobile-size){
              font-size: 24px;
            }
          }
          .slogan {
            margin: 45px 0 0 0;
            color: #b0b0b0;
            font-family: "Averta Demo PE";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media(max-width:$mobile-size){
              margin:15px 0 0 0;
              font-size: 12px;
            }
            & span {
              color: #9c3131;
            }
          }
        }
        .mobileButton{
          width:251px;
        }
        .button {
          border: none;
          background: #9c3131;
          display: flex;
          width: 435px;
          height: 90px;
          justify-content: center;
          align-items: center;
          color: rgba(255, 255, 255, 0.77);
          font-family: "Averta Demo PE";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &:hover{
            cursor:pointer;
            opacity:0.9;
          }
        }
      }
      .heroImage {
        width: 785px;
        height: auto;
      }
    }
  }
}
