$color-grey:#6E6E6E;
$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin flexColumnStart(){
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #191919;
  box-sizing: border-box;
  padding: 15px 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  @media(max-width:$mobile-size){
    padding:0;
    flex-flow:column nowrap;
    background: none;
  }
  .leftSide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    .iconBlock {
      width: 90px;
      height: 90px;
      position: relative;
      @media(max-width:$mobile-size){
        display:none;
      }
    }
    .infoBlock{
        @include flexColumnStart();
        gap:30px;
        &Top{
            @include flexColumnStart();
            gap:20px;
            @media(max-width:$mobile-size){
                gap:15px;
            }
            .question{
                @include flexColumnStart();
                @include font();
                display:flex;
                flex-flow:column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                @media(max-width:$mobile-size){
                    flex-direction: column-reverse;
                    font-size:12px;
                }
                & p:last-child{
                    color:$color-grey;
                    @media(max-width:$mobile-size){
                        color:#fff;
                        font-weight: 700;
                    }
                }
                & p:first-child{
                    color:#fff;
                    @media(max-width:$mobile-size){
                        color:$color-grey;
                        font-weight: 400;
                        margin:5px 0 0 0;
                    }
                }
            }
            .title{
                @include font();
                @media(max-width:$mobile-size){
                    font-size: 12px;
                    font-weight: 700;
                }
            }
            .likesBlock{
                @include font();
                display:flex;
                flex-flow:row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap:10px;
                @media(max-width:$mobile-size){
                    background: #252525;
                    padding:5px 10px;
                    gap:5px;
                    font-size: 10px;
                }
            }
        }
        &Bottom{
            @include flexColumnStart();
            gap:20px;
            @media(max-width:$mobile-size){
                gap:15px;
            }
            .adminAnswer{
                @include flexColumnStart();
                @media(max-width:$mobile-size){
                    gap:10px;
                }
                &Name{
                    @include font();
                    display:flex;
                    flex-flow:row nowrap;
                    justify-content: flex-start;
                    align-items: flex-end;
                    gap:5px;
                    @media(max-width:$mobile-size){
                        font-size: 12px;
                    }
                }
                &Text{
                    @include font();
                    color:$color-grey;
                    @media(max-width:$mobile-size){
                        font-size: 12px;
                    }
                }
            }
            .isHelpful{
                @include flexColumnStart();
                @include font();
                gap:10px;
                @media(max-width:$mobile-size){
                    gap:15px;
                    font-size: 12px;
                }
                &Select{
                    display:flex;
                    flex-flow:row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap:15px;
                    .yes{
                        padding:5px;
                        background: #9C3131;
                        @media(max-width:$mobile-size){
                            padding:10px 15px;
                            font-size: 12px;
                        }
                    }
                    .no{
                        padding:5px;
                        color:$color-grey;
                        @media(max-width:$mobile-size){
                            padding:10px 15px;
                            background: #191919;
                            color:#fff;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
  }
  .rightSide{
    @include font();
    color:$color-grey;
    @media(max-width:$mobile-size){
        display:none;
    }
  }
  .splitter{
    display:none;
    width:100%;
    height:1px;
    background: #8D8D8D;
    margin:25px 0 0 0;
    @media(max-width:$mobile-size){
        display:block;
    }
  }
}
