$mobile-size: 480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media (max-width: $mobile-size) {
    margin: 45px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1130px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 67px 0 0 0;
    @media (max-width: $mobile-size) {
      min-height: 0;
      padding: 0 19px;
    }
    .topContainer {
      width: 1165px;
      height: 384px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $mobile-size) {
        width: 100%;
        height: auto;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .topLeftBlock {
        width: 596px;
        @media (max-width: $mobile-size) {
          width: 100%;
        }
        .firstText {
          @include font();
          font-size: 38px;
          font-weight: 300;
          @media (max-width: $mobile-size) {
            font-size: 12px;
          }
        }
        .title {
          @include font();
          font-size: 56px;
          font-weight: 700;
          @media (max-width: $mobile-size) {
            font-size: 18px;
          }
        }
        .heroImage {
          margin: 25px 0;
          width: 41vw;
          height: auto;
        }
        .secondText {
          @include font();
          width: 542px;
          color: #b0b0b0;
          font-size: 22px;
          font-weight: 300;
          margin: 0 0 40px 0;
          @media (max-width: $mobile-size) {
            font-size: 12px;
            margin: 0;
            width: auto;
          }
        }
      }
    }
    .bottomContainer {
      margin: 68px 0 0 0;
      width: 100%;
      height: 611px;
      background: #191919;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: $mobile-size) {
        margin: 45px 0 0 0;
        background: none;
        align-items: flex-start;
        height: auto;
      }
      .container {
        @media (max-width: $mobile-size) {
          width: 100%;
        }
        .bottomTitle {
          @include font();
          margin: 55px 0 0 0;
          font-size: 48px;
          font-weight: 700;
          @media (max-width: $mobile-size) {
            margin: 0;
            font-size: 18px;
          }
        }
        .bottomSubtitle {
          @include font();
          font-size: 28px;
          font-weight: 400;
          @media (max-width: $mobile-size) {
            font-size: 12px;
          }
        }
        .schemeFlex {
          margin: 35px 0 0 0;
          width: 1080px;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: flex-start;
          gap: 159px 26px;
          position: relative;
          @media (max-width: $mobile-size) {
            margin: 10px 0 0 0;
            width: 100%;
            flex-flow: column nowrap;
            justify-content: flex-start;
            gap: 0;
          }
          .card {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 28px;
            @media (max-width: $mobile-size) {
              flex-flow: column nowrap;
              align-items: flex-start;
              gap: 15px;
            }
            .numberBlock {
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-start;
              align-items: flex-end;
              .number {
                @include font();
                font-size: 18px;
                font-weight: 400;
              }
              .verticalLine {
                margin: 10px 0 0 0;
                width: 3px;
                height: 75px;
                background: #fff;
              }
            }
            .rightBlock {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-items: center;
              gap: 28px;
              .rightBlockText {
                @include font();
                color: #b0b0b0;
                font-size: 20px;
                font-weight: 400;
              }
            }
          }
          .bottomCenterBlock {
            position: absolute;
            top: 142px;
            left: 214px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            .bottomCenterBlockTitle {
              @include font();
              font-size: 52px;
              font-weight: 300;
              position: relative;
              width: fit-content;
              translate: 14px 0;
              .titleNumber {
                @include font();
                font-size: 18px;
                font-weight: 400;
                position: absolute;
                top: 0;
                left: -21px;
              }
            }
            .bottomCenterBlockSubtitle {
              @include font();
              font-size: 32px;
              font-weight: 600;
            }
          }
          .leftBorderBlock {
            position: absolute;
            left: 53px;
            top: 203px;
          }
          .rightBorderBlock {
            position: absolute;
            right: 37px;
            top: 107px;
          }
          .mobileCard {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            .mobileStep {
              @include font();
              font-size: 10px;
              font-weight: 400;
              margin: 0 0 3px 0;
            }
            .mobileCardMain {
              @include font();
              width: 178px;
              font-size: 12px;
              font-weight: 400;
              color: #b0b0b0;
              height: 55px;
              padding: 0 0 0 13px;
            }
            .doubleArrow {
              width: 19px;
              height: auto;
              rotate: 90deg;
              margin: 15px 12px 0px;
            }
            .mobileMiddleBlock {
              width: 100%;
              margin: 26px 0 17px 0;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
              .mobileLeftBlock {
                width: 19px;
                height: 24px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                align-self: flex-start;
              }
              .mobileMiddleCenterBlock {
                display: flex;
                flex-flow:column nowrap;
                justify-content: center;
                align-items: center;
                height:48px;
                .mobileTitle {
                  @include font();
                  font-size: 18px;
                  font-weight: 300;
                }
                .mobileSubTitle{
                  @include font();
                  font-size: 10px;
                  font-weight: 600;
                }
              }
              .mobileRightBlock {
                width: 19px;
                height: 24px;
                border-right: 1px solid #fff;
                border-top: 1px solid #fff;
                align-self: flex-end;
              }
            }
          }
        }
      }
    }
  }
}
