.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  .wrapper {
    width: min(100%, 1920px);
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    .banner{
        margin:117px 0 15px 0;
        width:1782px;
        height:auto;
    }
  }
}
