$mobile-size:480px;

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #111;
  @media(max-width:$mobile-size){
    margin:25px 0 0 0;
    padding:0 19px;
  }
  .card {
    width: 584px;
    height: 263px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 30px;
    background: #252525;
    @media(max-width:$mobile-size){
      width:100%;
      height:auto;
      padding:25px 38px;
      flex-flow:column nowrap;
      flex-direction: column-reverse;
      align-items: center;
    }
    .linksBlock {
      width: auto;
      height: auto;
      @media(max-width:$mobile-size){
        width:100%;
      }
      & h3 {
        color: #fff;
        font-family: "Averta CY";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media(max-width:$mobile-size){
          font-size: 14px;
        }
      }
      .links {
        margin: 19px 0 0 0;
        height:125px;
        width:auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap:31px;
        row-gap:20px;
        @media(max-width:$mobile-size){
          margin: 20px 0 0 0;
          height:59px;
          width:100%;
          column-gap: 0;
          row-gap: 10px;
          align-content: space-between;
        }
        .link {
          color: #8e8e8e;
          font-family: "Averta Demo PE";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media(max-width:$mobile-size){
            font-size: 10px;
          }
          &:hover{
            color:#9C3131;
          }
        }
      }
    }
    .image{
        width:180px;
        height:auto;
        @media(max-width:$mobile-size){
          width:max(160px, 70%);
        }
    }
  }
}
