@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/background.png) center / cover no-repeat;
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .container {
      margin: 304px 0 0 260px;
      .title {
        @include font();
        font-size: 65px;
        font-weight: 700;
      }
      .subtitle {
        @include font();
        margin: 40px 0 110px 0;
        color: #b0b0b0;
        font-size: 42px;
        font-weight: 400;
      }
    }
  }
}
