$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/background.png) center / cover no-repeat;
  @media(max-width:$mobile-size){
    background: none;
    margin:73px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      min-height: 0;
      padding:0 19px;
    }
    .container {
      margin: 304px 0 0 260px;
      @media(max-width:$mobile-size){
        margin:0;
        width:100%;
      }
      .title {
        @include font();
        font-size: 65px;
        font-weight: 700;
        @media(max-width:$mobile-size){
          font-size: 18px;
        }
      }
      .subtitle {
        @include font();
        margin: 40px 0 110px 0;
        color: #b0b0b0;
        font-size: 42px;
        font-weight: 400;
        @media(max-width:$mobile-size){
          margin:10px 0 25px 0;
          font-size: 12px;
        }
      }
    }
  }
}
