$mobile-width:480px;

.wrapper {
  width: 260px;
  height: 45px;
  position: relative;
  border: 2px solid #505050;
  color: #fff;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding:0 14px 0 24px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width:$mobile-width){
    display:none;
  }
  &:hover{
    cursor:pointer;
  }
  .image{
    width:10px;
    height:auto;
    &Open{
        rotate:180deg;
    }
  }
  .sortList{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:auto;
    background: #252525;
    translate:0 101%;
    z-index:100;
    &:last-child(){
        border-bottom: none;
    }
    .sortItem{
        width:100%;
        height:46px;
        border-bottom: 1.5px solid #383838;
        padding:0 0 0 17px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
  }
}
