$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 619px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    @media(max-width:$mobile-size){
      min-height: 0;
      gap:15px;
      padding:0 18px;
    }
    .title {
      @include font();
      width: min(1187px, 100%);
      font-size: 55px;
      font-weight: 600;
      @media(max-width:$mobile-size){
        font-size: 18px;
      }
    }
    .flexContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 25px;
      width: min(100%, 1187px);
      @media(max-width:$mobile-size){
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap:10px;
        overflow-x: scroll;
        scrollbar-width: none;
      }
      .card {
        width: 580px;
        height: 180px;
        padding: 20px;
        border: 2px solid #9c3131;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
        @media(max-width:$mobile-size){
          width:247px;
          height:155px;
          padding:10px;
          gap:10px;
        }
        .textBlock {
          width: 404px;
          @media(max-width:$mobile-size){
            width:187px;
          }
          .title {
            @include font();
            font-size: 17px;
            font-weight: 400;
            @media(max-width:$mobile-size){
              font-size: 12px;
            }
          }
          .text {
            @include font();
            margin: 15px 0 0 0;
            color: #b0b0b0;
            font-size: 15px;
            font-weight: 400;
            @media(max-width:$mobile-size){
              font-size: 10px;
              margin:10px 0 0 0;
            }
          }
        }
      }
    }
  }
}
