.wrapper {
  width: 100%;
  height:auto;
  background: #191919;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  .title {
    color: #b0b0b0;
    font-family: "Averta CY";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
