$mobile-size:480px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 560px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 175px;
    row-gap: 6px;
    @media(max-width:$mobile-size){
      min-height:0;
      padding:0 18px;
      flex-flow:column nowrap;
      justify-content: flex-start;
    }
    .textFlex {
      width: 671px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;
      @media(max-width:$mobile-size){
        width:100%;
        gap:15px;
      }
      .titles {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        & h2 {
          color: #fff;
          font-family: "Averta CY";
          font-size: 55px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media(max-width:$mobile-size){
            font-size: 18px;
          }
        }
        & p {
          color: #b0b0b0;
          font-family: "Averta Demo PE";
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media(max-width:$mobile-size){
            font-size: 12px;
          }
        }
      }
      .text {
        width: 100%;
        height: auto;
        color: #b0b0b0;
        font-family: "Averta Demo PE";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media(max-width:$mobile-size){
          font-size: 12px;
          width:276px;
        }
      }
    }
    .questions {
      margin: 96px 0 0 0;
      width: 745px;
      height: auto;
      color: #9c3131;
      font-family: "Averta CY";
      font-size: 100px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media(max-width:$mobile-size){
        margin:45px 0 25px 0;
        width:100%;
        font-size: 32px;
      }
    }
  }
}
