@mixin fontAvertaCY() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin fontAvertaPE() {
  color: #6f6f6f;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  .mainInfo {
    width: 1125px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    @media(max-width:1775px){
      width:941px;
    }
    @media(max-width: 1430px){
      width:757px;
    }
    .sale {
      width: 100%;
      height: 95px;
      background: #191919;
      box-sizing: border-box;
      padding: 25px 31px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .advertising {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 35px;
        .saleIcon {
          width: 39px;
          height: auto;
        }
        .saleInfo {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          .boldText {
            @include fontAvertaCY();
          }
          .thinText {
            @include fontAvertaPE();
            font-size: 20px;
          }
        }
      }
      .saleCount {
        @include fontAvertaCY();
        color: #9c3131;
      }
    }
    .selectAll {
      width: 100%;
      height: 64px;
      background: #191919;
      box-sizing: border-box;
      padding: 22px 21px 22px 20px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .chooseAll {
        @include fontAvertaPE();
      }
      .deleteSelected {
        @include fontAvertaCY();
        color: #9c3131;
        font-size: 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .cartItems {
      width: 100%;
      height: auto;
      background: #191919;
      box-sizing: border-box;
      padding: 25px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;
      .title {
        @include fontAvertaCY();
      }
    }
  }
  .goToOrder {
    width: 460px;
    height: auto;
    background: #191919;
    box-sizing: border-box;
    padding: 25px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    @media(max-width:1595px){
      width:300px;
    }
    .buttonBlock {
      width: 400px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      @media(max-width:1595px){
        width:240px;
      }
      .button {
        @include fontAvertaCY();
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.77);
        border: none;
        background: #9c3131;
        backdrop-filter: blur(6.650000095367432px);
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
      &Info {
        @include fontAvertaPE();
      }
    }
    .details {
      width: 400px;
      height: auto;
      @media(max-width:1595px){
        width:240px;
      }
      & h3 {
        @include fontAvertaCY();
      }
      .goods {
        margin: 20px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        &Number {
          @include fontAvertaPE();
        }
        &Price {
          @include fontAvertaCY();
          font-size: 15px;
        }
      }
      .discount {
        margin: 15px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        &Text {
          width: fit-content;
          height: auto;
          &Grey {
            @include fontAvertaPE();
          }
          &Red {
            @include fontAvertaPE();
            color: #9c3131;
          }
        }
        &Value {
          @include fontAvertaCY();
          color: #9c3131;
          font-size: 15px;
        }
      }
    }
    .fullValue {
      width: 400px;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      @media(max-width:1595px){
        width:240px;
      }
      &Text {
        @include fontAvertaCY();
      }
    }
    .splitter1 {
      width: 100%;
      height: 1px;
      background: #6e6e6e;
    }
    .splitter2 {
      width: 400px;
      height: 1px;
      background: #6e6e6e;
      @media(max-width:1595px){
        width:240px;
      }
    }
  }
}
.emptyCart {
  color: #8e8e8e;
  font-family: "Averta Demo PE";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
