$mobile-size: 480px;

@mixin fontAvertaCY() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin fontAvertaPE() {
  color: #6f6f6f;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  @media (max-width: $mobile-size) {
    flex-flow: column nowrap;
    margin: 20px 0 0 0;
  }
  .mainInfo {
    width: 1125px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    @media (max-width: 1775px) {
      width: 941px;
      gap: 0px;
    }
    @media (max-width: 1430px) {
      width: 757px;
    }
    @media (max-width: $mobile-size) {
      width: 100%;
    }
    .sale {
      width: 100%;
      height: 95px;
      background: #191919;
      box-sizing: border-box;
      padding: 25px 31px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $mobile-size) {
        justify-content: center;
      }
      .advertising {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 35px;
        @media (max-width: $mobile-size) {
          justify-content: center;
        }
        .saleIcon {
          width: 39px;
          height: auto;
        }
        .saleInfo {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          .boldText {
            @include fontAvertaCY();
            @media (max-width: $mobile-size) {
              font-size: 14px;
            }
          }
          .thinText {
            @include fontAvertaPE();
            font-size: 20px;
            @media (max-width: $mobile-size) {
              font-size: 12px;
              margin: 5px 0 0 0;
            }
          }
          .saleCountMobile {
            @include fontAvertaCY();
            color: #9c3131;
            display: none;
            @media (max-width: $mobile-size) {
              display: inline;
              font-size: 8px;
              font-weight: 400;
              margin: 10px 0 0 0;
            }
          }
        }
      }
      .saleCount {
        @include fontAvertaCY();
        color: #9c3131;
        @media (max-width: $mobile-size) {
          display: none;
        }
      }
    }
    .selectAll {
      width: 100%;
      height: 64px;
      background: #191919;
      box-sizing: border-box;
      padding: 22px 21px 22px 20px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      @media (max-width: $mobile-size) {
        margin: 15px 0 0 0;
        //justify-content: space-between;
        padding: 15px 20px;
      }
      .chooseAll {
        @include fontAvertaPE();
        @media (max-width: $mobile-size) {
          font-size: 10px;
          font-weight: 600;
          color: #fff;
        }
      }
      .deleteSelected {
        @include fontAvertaCY();
        color: #9c3131;
        font-size: 15px;
        @media (max-width: $mobile-size) {
          flex: 1 0 auto;
          font-size: 10px;
          font-weight: 600;
          text-align: end;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .cartItems {
      width: 100%;
      height: auto;
      background: #191919;
      box-sizing: border-box;
      padding: 25px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 35px;
      @media (max-width: $mobile-size) {
        margin: 15px 0 0 0;
        background: none;
        padding: 0;
        gap: 10px;
      }
      .title {
        @include fontAvertaCY();
        @media (max-width: $mobile-size) {
          font-size: 14px;
        }
      }
    }
  }
  .goToOrder {
    width: 460px;
    height: auto;
    background: #191919;
    box-sizing: border-box;
    padding: 25px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    @media (max-width: 1595px) {
      width: 300px;
    }
    @media (max-width: $mobile-size) {
      width: 100%;
      margin: 15px 0 0 0;
      padding: 20px;
      gap: 20px;
    }
    .buttonBlock {
      width: 400px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      @media (max-width: 1595px) {
        width: 240px;
      }
      @media (max-width: $mobile-size) {
        width: 100%;
        gap: 5px;
      }
      .button {
        @include fontAvertaCY();
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.77);
        border: none;
        background: #9c3131;
        backdrop-filter: blur(6.650000095367432px);
        @media (max-width: $mobile-size) {
          height: 50px;
          font-size: 12px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
      &Info {
        @include fontAvertaPE();
        @media (max-width: $mobile-size) {
          @include fontAvertaPE();
          font-size: 10px;
        }
      }
    }
    .details {
      width: 400px;
      height: auto;
      @media (max-width: 1595px) {
        width: 240px;
      }
      @media (max-width: $mobile-size) {
        width: 100%;
      }
      & h3 {
        @include fontAvertaCY();
        @media (max-width: $mobile-size) {
          font-size: 14px;
        }
      }
      .goods {
        margin: 20px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $mobile-size) {
          margin: 15px 0 0 0;
        }
        &Number {
          @include fontAvertaPE();
          @media (max-width: $mobile-size) {
            @include fontAvertaCY();
            font-size: 10px;
            font-weight: 400;
            color: #6f6f6f;
          }
        }
        &Price {
          @include fontAvertaCY();
          font-size: 15px;
          @media (max-width: $mobile-size) {
            font-size: 10px;
          }
        }
      }
      .discount {
        margin: 15px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: $mobile-size) {
          margin: 10px 0 0 0;
        }
        &Text {
          width: fit-content;
          height: auto;
          &Grey {
            @include fontAvertaPE();
            @media (max-width: $mobile-size) {
              @include fontAvertaCY();
              font-size: 10px;
              font-weight: 400;
              color: #6f6f6f;
            }
          }
          // &Red {
          //   @include fontAvertaPE();
          //   color: #9c3131;
          //   @media(max-width:$mobile-size){
          //     @include fontAvertaCY();
          //     font-size: 10px;
          //   }
          // }
        }
        &Value {
          @include fontAvertaCY();
          color: #9c3131;
          font-size: 15px;
          @media(max-width:$mobile-size){
            font-size: 10px;
          }
        }
      }
    }
    .fullValue {
      width: 400px;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1595px) {
        width: 240px;
      }
      @media(max-width:$mobile-size){
        width:100%;
      }
      &Text {
        @include fontAvertaCY();
        @media(max-width:$mobile-size){
          font-size: 14px;
        }
      }
    }
    .splitter1 {
      width: 100%;
      height: 1px;
      background: #6e6e6e;
    }
    .splitter2 {
      width: 400px;
      height: 1px;
      background: #6e6e6e;
      @media (max-width: 1595px) {
        width: 240px;
      }
      @media(max-width:$mobile-size){
        width:100%;
      }
    }
  }
}
.emptyCart {
  color: #8e8e8e;
  font-family: "Averta Demo PE";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
