.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    @media (max-width: 480px) {
      padding: 0 19px;
      min-height:0;
    }
    // .pointer{
    //   width:50px;
    //   height:50px;
    //   background: url(./assets/circle.svg) center / contain no-repeat;
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   z-index:1;
    //   border-radius: 50%;
    //   filter:blur(10px);
    // }
    .h1 {
      width: fit-content;
      height: auto;
      overflow: hidden;
      position: relative;
      //margin: 90px 0 0px 48px;
      margin: 52px 0 0px 0px;
      box-sizing: content-box;
      padding: 48px 100px 48px 48px;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background: radial-gradient(
          circle,
          #777 0%,
          #666 2%,
          #555 4%,
          #444 6%,
          #333 8%,
          #222 10%
        )
        0% 0% / 200% 200% no-repeat;
      //background: linear-gradient(180deg, #222 50%, #141414 150%) 0% 0% / 200% 200% no-repeat, url(./assets/circle.svg) 30% 30% / auto no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      font-family: "Tafel Sans Pro";
      font-size: 252px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: none;
      z-index: 2;
      @media (max-width:480px) {
        margin: 51px 0 0 0;
        padding: 0;
        font-size: 80px;
        color: #fff;
        background: none;
        background-clip: none;
        -webkit-background-clip: none;
        -webkit-text-fill-color: #fff;
      }
    }

    .breefBlock {
      margin: 63px 0 0 69px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 94px;
      @media (max-width: 480px) {
        margin: 15px 0 0 0;
        max-width: 100%;
        flex-flow: row wrap;
        gap: 15px;
      }
      .description {
        width: 439px;
        color: #b0b0b0;
        font-family: "Averta Demo PE";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        & span {
          color: #9c3131;
        }
        @media (max-width: 480px) {
          font-size: 12px;
          width: 263px;
        }
      }
      .breefButton {
        width: 318px;
        height: 58px;
        background: #9c3131;
        border: none;
        backdrop-filter: blur(6px);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.77);
        font-family: "Averta Demo PE";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        gap: 20px;
        text-transform: uppercase;
        .rightArrow {
          width: 21px;
          height: 13px;
        }
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 480px) {
          width: 175px;
          height: 32px;
          font-size: 10px;
          gap: 10px;
          .rightArrow {
            width: 13px;
          }
        }
      }
    }
    .menuBlock {
      max-width:780px;
      height: auto;
      margin: 89px 0 0 69px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      @media (max-width: 480px) {
        width: 100%;
        margin: 40px 0 45px 0;
        gap:9px;
        display:grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
