.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;
  .header {
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 25px;
      &:hover .categoryTitle,
      &:hover .arrowRightContainer .arrowRight {
        color: #9c3131;
        cursor: pointer;
        fill: #9c3131;
      }
      .categoryTitle {
        color: #fff;
        font-family: "Averta CY";
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .arrowRightContainer {
        margin: 0 0 6px 0;
        .arrowRight {
          width: 16px;
          height: auto;
        }
      }
    }
    .rightSide {
      color: #9c3131;
      font-family: "Averta Demo PE";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
  .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
}
