$mobile-size: 480px;

@mixin fontAvertaPE() {
  color: #fff;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin fontAvertaCY() {
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wrapper {
  width: 100%;
  height: 120px;
  background: #191919;
  box-sizing: border-box;
  padding: 15px 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobile-size) {
    height: 118px;
    padding: 18px 20px;
    gap: 17px;
    justify-content: flex-start;
  }
  .leftSide {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    .imageContainer {
      width: 90px;
      height: 90px;
      position: relative;
      @media (max-width: $mobile-size) {
        width: 72px;
        height: 72px;
      }
      .image {
        object-fit: cover;
      }
    }
    .textContainer {
      .name {
        @include fontAvertaPE();
        @media (max-width: $mobile-size) {
          @include fontAvertaCY();
          font-size: 10px;
          font-weight: 600;
        }
      }
      .color {
        @include fontAvertaPE();
        color: #6e6e6e;
        @media (max-width: $mobile-size) {
          @include fontAvertaCY();
          font-size: 8px;
          font-weight: 400;
        }
      }
    }
  }
  .rightSide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width: $mobile-size) {
      flex-flow: column nowrap;
      gap: 10px;
    }
    .textContainer {
      .name {
        @include fontAvertaPE();
        @media (max-width: $mobile-size) {
          @include fontAvertaCY();
          font-size: 10px;
          font-weight: 600;
        }
      }
      .color {
        @include fontAvertaPE();
        color: #6e6e6e;
        @media (max-width: $mobile-size) {
          @include fontAvertaCY();
          font-size: 8px;
          font-weight: 400;
        }
      }
    }
    .bottomElements {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 30px;
      .downloadIcon {
        width: 20px;
        height: 20px;
        @media (max-width: $mobile-size) {
          width: 10px;
          height: 10px;
          translate:0 -5px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .bottomElementsLinks {
        display:flex;
        flex-flow:row nowrap;
        justify-content: center;
        align-items: center;
        gap:30px;
        @media(max-width:$mobile-size){
          gap:5px;
        }
        .rateGoods {
          @include fontAvertaCY();
          color: #6e6e6e;
          &:hover {
            color: #9c3131;
            cursor: pointer;
          }
          @media (max-width: $mobile-size) {
            font-size: 8px;
            font-weight: 400;
          }
        }
        .makeReview {
          @include fontAvertaCY();
          color: #6e6e6e;
          &:hover {
            color: #9c3131;
            cursor: pointer;
          }
          @media (max-width: $mobile-size) {
            font-size: 8px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
