$mobile-size:480px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  box-sizing: border-box;
  padding: 90px 0 90px 0;
  @media(max-width:1920px){
    padding:90px 24px;
  }
  @media(max-width:$mobile-size){
    padding:0;
  }
  .wrapper {
    width: min(1782px, 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      padding:0 19px;
      flex-flow:column nowrap;
    }

    .leftColumn {
      width: 415px;
      flex-shrink: 0;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      box-sizing: border-box;
      padding:130px 0 0 0;
      position:relative;
      @media(max-width:$mobile-size){
        width:100%;
        padding:0;
        margin:25px 0 0 0;
      }
      .adverticement{
        width:331px;
        height:auto;
        @media(max-width:$mobile-size){
          display:none;
        }
      }
    }
    .rightColumn {
      flex-grow:1;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 86px;
      @media(max-width:$mobile-size){
        gap:25px;
      }
    }
  }
  .overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index:100;
  }
}
