$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin: 80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      padding: 0 18px;
      flex-flow:column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 0;
    }
    .leftCard {
      width: 960px;
      padding: 0px 222px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      gap:75px;
      background: url(./assets/background.jpg) center/cover;
      height: 1080px;
      @media(max-width:$mobile-size){
        width:100%;
        background: none;
        height:auto;
        padding:0;
      }
      .titleBlock {
        @media(max-width:$mobile-size){
          width:100%;
        }
        .title {
          @include font();
          width: 100%;
          font-size: 70px;
          font-weight: 700;
          @media(max-width:$mobile-size){
            font-size: 18px;
            font-weight: 600;
          }
        }
        .subtitle {
          @include font();
          color: rgba(255, 255, 255, 0.95);
          font-size: 35px;
          font-weight: 400;
          @media(max-width:$mobile-size){
            font-size: 12px;
            margin:3px 0 0 0;
          }
        }
      }
    }
    .rightCard {
      width: 960px;
      height: 1080px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width:$mobile-size){
        width:100%;
        height:auto;
        margin:25px 0 0 0;
      }
      .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 65px;
        @media(max-width:$mobile-size){
          flex-flow:row nowrap;
          gap:30px;
          width:100%;
          overflow-x: scroll;
          scrollbar-width: none;
        }
        .card {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 35px;
          @media(max-width:$mobile-size){
            gap:20px;
          }
          .textBlock {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 25px;
            @media(max-width:$mobile-size){
              gap:10px;
              width:210px;
            }
            .title {
              @include font();
              font-size: 30px;
              font-weight: 400;
              @media(max-width:$mobile-size){
                font-size: 16px;
              }
            }
            .text {
              @include font();
              width: 434px;
              color: #b0b0b0;
              font-size: 20px;
              font-weight: 400;
              @media(max-width:$mobile-size){
                font-size: 12px;
                width:100%;
              }
            }
          }
        }
      }
    }
  }
}
