$mobile-size:480px;

@mixin fontAvertaPE {
  font-family: "Averta Demo PE";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin fontAvertaCY {
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin textInput() {
  @include fontAvertaPE();
  width: 280px;
  height: 35px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background: none;
  color: #fff;
  font-size: 16px;
  @media(max-width:$mobile-size){
    width:100%;
    font-size: 12px;
  }
  &::placeholder {
    font-size: 12px;
    color: #8d8d8d;
    @media(max-width:$mobile-size){
      font-size: 10px;
    }
  }
  &:focus-visible {
    outline: none;
  }
}

.wrapper {
  width: 645px;
  height: 565px;
  box-sizing: border-box;
  padding: 30px;
  background: #191919;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  @media(max-width:$mobile-size){
    width:100%;
    padding:15px;
    gap:0;
  }
  .title {
    @include fontAvertaCY();
    color: #fff;
    font-size: 28px;
    @media(max-width:$mobile-size){
      font-size: 18px;
      font-weight: 600;
    }
  }
  .contactsBlock {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    @media(max-width:$mobile-size){
      margin:15px 0 0 0;
      gap:0;
    }
    .aboutPerson {
      @include fontAvertaCY();
      color: #8d8d8d;
      @media(max-width:$mobile-size){
        font-size: 12px;
        font-weight: 400;
        margin:0 0 25px 0;
      }
    }
    .nameAndProject {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      @media(max-width:$mobile-size){
        flex-flow:column nowrap;
        justify-content: flex-start;
        gap:10px;
      }
      .name {
        @include textInput();
      }
    }
  }
  .howCanWeHelpYou {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    @media(max-width:$mobile-size){
      margin:25px 0 0 0;
      gap:15px;
    }
    & h4 {
      @include fontAvertaCY();
      color: #fff;
    }
    .checkBoxesBlock {
      width: 100%;
      height: 42px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      @media(max-width:$mobile-size){
        height:101px;
        row-gap: 15px;
        align-content: space-between;
      }
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    @media(max-width:$mobile-size){
      margin:21px 0 0 0;
      gap:10px;
    }
    & button {
      @include fontAvertaCY();
      width: 100%;
      height: 35px;
      background: #9c3131;
      color: #fff;
      font-size: 12px;
      border: none;
      @media(max-width:$mobile-size){
        font-size: 10px;
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
      }
    }
    & p {
      @include fontAvertaPE();
      color: #4e4e4e;
      @media(max-width:$mobile-size){
        font-size:6px;
      }
      .link {
        color: #9c3131;
      }
    }
  }
}
