$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1400px);
    min-height: 901px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      min-height: 0;
      padding: 0 19px;
    }
    .title {
      @include font();
      margin: 69px 0 0 0;
      font-size: 60px;
      font-weight: 700;
      @media(max-width:$mobile-size){
        margin:0;
        font-size: 18px;
      }
    }
    .subtitle {
      @include font();
      margin: 10px 0 0 0;
      font-size: 40px;
      font-weight: 400;
      @media(max-width:$mobile-size){
        margin:5px 0 0 0;
        font-size: 12px;
      }
    }
    .splitter {
      margin: 40px 0 0 0;
      align-self: center;
      width: 140px;
      height: 3px;
      background: #fff;
      @media(max-width:$mobile-size){
        margin:13px 0 0 0;
        width:37%;
        height:2px;
        align-self: flex-start;
      }
    }
    .optionsTitle {
      margin: 40px 0 0 0;
      align-self: center;
      @include font();
      font-size: 40px;
      font-weight: 400;
      @media(max-width:$mobile-size){
        margin:25px 0 0 0;
        font-size: 12px;
      }
    }
    .optionsFlex {
      margin: 40px 0 0 0;
      width: 100%;
      height: 109px;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 25px;
      column-gap: 80px;
      @media(max-width:$mobile-size){
        margin:15px 0 0 0;
        height:auto;
        flex-flow:column nowrap;
        row-gap:10px;
      }
      .card {
        color: #fff;
        font-family: "Averta Demo PE";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 185px;
        height: 42px;
        list-style-type: none;
        position: relative;
        padding: 0 0 0 39px;
        @media(max-width:$mobile-size){
          width:143px;
          font-size: 12px;
          padding: 0 0 0 33px;
        }
        &::before {
          content: "";
          width: 15px;
          aspect-ratio: 1/1;
          background: #9c3131;
          position: absolute;
          top: 0;
          left: 0;
          @media(max-width:$mobile-size){
            width:18px;
          }
        }
      }
    }
    .bottomBlockTitle {
      @include font();
      margin: 44px 0 0 0;
      align-self: center;
      font-size: 40px;
      font-weight: 400;
      @media(max-width:$mobile-size){
        margin:45px 0 0 0;
        font-size: 12px;
        align-self: flex-start;
      }
    }
    .bottomFlex {
      margin: 44px 0 0 0;
      width: 100%;
      height: 215px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;
      @media(max-width:$mobile-size){
        margin:15px 0 0 0;
        height:auto;
        flex-flow:column nowrap;
      }
      .buttonBlock {
        height:100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width:$mobile-size){
          justify-content: flex-start;
          gap:10px;
          width:100%;
        }
        .button {
          width: 285px;
          height: 65px;
          color: #fff;
          text-align: center;
          font-family: "Averta CY";
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 6px solid #9c3131;
          background: transparent;
          @media(max-width:$mobile-size){
            width:100%;
            height:49px;
            font-size: 12px;
            border: 3px solid #9c3131;
          }
          &:hover {
            cursor: pointer;
          }
          &Selected{
            background-color: #9c3131;
          }
        }
      }
      .bottomSplitter {
        height: 100%;
        width: 1.5px;
        background: #fff;
        @media(max-width:$mobile-size){
          height:2px;
          width:100%;
        }
      }
      .bottomRightBlock {
        height: 100%;
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-start;
        @media(max-width:$mobile-size){
          flex:0 0 auto;
          justify-content: flex-start;
          align-items: flex-start;
          gap:45px;
          width:100%;
        }
        .bottomRightTopBlock {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          @media(max-width:$mobile-size){
            gap:45px;
            width:100%;
          }
          .contextType {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            @media(max-width:$mobile-size){
              flex-flow:column nowrap;
              justify-content: flex-start;
              align-items: flex-start;
              width:100%;
            }
            .contextTitle {
              @include font();
              width: 250px;
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-items: center;
              gap: 25px;
              font-size: 25px;
              font-weight: 300;
              @media(max-width:$mobile-size){
                width:100%;
                gap:15px;
                font-size: 18px;
              }
            }
            .input {
              @include font();
              font-size: 23px;
              font-weight: 300;
              width: 200px;
              height: 35px;
              text-align: center;
              border: none;
              border-bottom: 1px solid #fff;
              background: transparent;
              @media(max-width:$mobile-size){
                margin:20px 0 0 0;
                width:100%;
                font-size: 18px;
                text-align: start;
              }
              &::placeholder {
                color: #3f3f3f;
              }
              &:focus {
                outline: none;
              }
            }
            .timeOfRealization {
              @include font();
              font-size: 25px;
              font-weight: 300;
              @media(max-width:$mobile-size){
                margin:20px 0 0 0;
                font-size: 18px;
              }
            }
            .timeOfRealizationValue {
              @include font();
              font-size: 25px;
              font-weight: 300;
              @media(max-width:$mobile-size){
                margin:10px 0 0 0;
                font-size: 18px;
              }
              & span{
                font-weight: 600;
              }
            }
          }
        }
        .bottomRightBottomBlock {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          @media(max-width:$mobile-size){
            flex-flow:column nowrap;
            width: 100%;
            align-items: flex-start;
          }
          .totalValue {
            @include font();
            font-size: 30px;
            font-weight: 300;
            @media(max-width:$mobile-size){
              font-size: 18px;
              margin:0 0 15px 0;
            }
            & span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
