$mobile-size:480px;

.wrapper {
  width: auto;
  height: auto;
  position: relative;
  align-self: flex-start;
  @media(max-width:$mobile-size){
    width:100%;
    margin:10px 0 0 0;
  }
  .textInput {
    width: 280px;
    height: 35px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background: none;
    color: #fff;
    font-family: "Averta Demo PE";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position:relative;
    padding:0 0 0 48px;
    @media(max-width:$mobile-size){
      width:100%;
      font-size: 12px;
      padding:0 0 0 25px;
    }
    &::placeholder {
      color: #8d8d8d;
      font-family: "Averta Demo PE";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size: 10px;
      }
    }
    &:focus-visible {
      outline: none;
    }
  }
  .selectorWrapper{
    position:absolute;
    top:10px;
    left:0;
    .selectedSelectorBlock{
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:5px;
        margin:0 0 10px 0;
        .selectedSelector{
            width:20px;
            aspect-ratio: 1/1;
            @media(max-width:$mobile-size){
              width:10px;
            }
        }
        .arrow{
            width:5px;
            height:auto;
            rotate:0deg;
            transition:0.3s;
            @media(max-width:$mobile-size){
              width:3px;
            }
            &Opened{
                rotate:180deg;
                transition:0.3s;
            }
        }
    }
    .selector{
        width:30px;
        height:26px;
        background: #252525;
        box-sizing: border-box;
        border-bottom:1px solid rgba(69, 69, 69, 0.3);
        display:flex;
        justify-content: center;
        align-items: center;
        &:last-child{
            border:none;
        }
    }
  }
}
