.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@font-face {
  font-family: 'Averta Demo PE';
  src: url('../pages/fonts/AvertaDemoPE-Regular.otf');
  src: local('AvertaDemoPE'),
      url('../pages/fonts/AvertaDemoPE-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY';
  src: url('../pages/fonts/Averta-Cyrillic-Bold.otf');
  src: local('AvertaCY'),
      url('../pages/fonts/Averta-Cyrillic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY';
  src: url('../pages/fonts/Averta-Cyrillic-SemiBold.otf');
  src: local('AvertaCY'),
      url('../pages/fonts/Averta-Cyrillic-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tafel Sans Pro';
  src: url('../pages/fonts/TafelSansPro-Bold.ttf');
  src: local('TafelSansPro'),
      url('../pages/fonts/TafelSansPro-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}