.carTypeSelect{
    width:100%;
    background-color: #111;
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    @media(max-width:480px){
        padding:0 19px;
    }
}