$mobile-size:480px;
.wrapper {
  width: min(1783px, 100%);
  height: auto;
  margin: 99px 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 124px;
  box-sizing: border-box;
  @media(max-width:$mobile-size){
    margin:45px 0 0 0;
    gap:25px;
  }
  .header {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #4d4d4d;
    @media(max-width:$mobile-size){
      border:none;
    }
    &Title {
      color: #fff;
      font-family: "Averta CY";
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size: 18px;
        font-weight: 600;
      }
    }
    &Advice {
      color: #8d8d8d;
      font-family: "Averta Demo PE";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0 0 15px 0;
      @media(max-width:$mobile-size){
        display:none;
      }
    }
  }
  .advantages {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    @media(max-width:$mobile-size){
      gap:35px;
    }
    &Item {
      width: 100%;
      min-height: 490px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      @media(max-width:$mobile-size){
        min-height: 0;
        height:auto;
        gap:15px;
      }
      .imageContainer {
        width: 865px;
        height: 490px;
        position: relative;
        @media(max-width:$mobile-size){
          width:100%;
          height:auto;
          aspect-ratio: 1/.5;
        }
      }
      .textContainer {
        width: 865px;
        height: 490px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:$mobile-size){
          width:100%;
          height:auto;
          justify-content: flex-start;
        }
        .text {
          max-width: 666px;
          color: #fff;
          font-family: "Averta Demo PE";
          font-size: 45px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: center;
          @media(max-width:$mobile-size){
            width:100%;
            max-width: 100%;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
  }
}
