$mobile-size:480px;

.wrapper {
  width: 1125px;
  height: 184px;
  box-sizing: border-box;
  padding: 17px 20px;
  background: #191919;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  @media(max-width: 1775px){
    width:941px;
  }
  @media(max-width: 1430px){
    width:757px;
  }
  @media(max-width:$mobile-size){
    width:100%;
    height:73px;
    gap:10px;
    padding:8px 15px;
  }
  .header {
    width:100%;
    height:auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .title {
      color: #fff;
      font-family: "Averta CY";
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size: 10px;
      }
    }
    .buttons{
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:15px;
        .button{
            width:35px;
            aspect-ratio: 1/1;
            background: #252525;
            &:hover{
                cursor: pointer;
            }
            .buttonIcon{
                width:35px;
            }
            .buttonIconRight{
                width:35px;
                rotate:180deg;
            }
        }
        @media(max-width:$mobile-size){
          display:none;
        }
    }
  }
  .sliderBody{
    width:100%;
    height:90px;
    overflow: hidden;
    position:relative;
    @media(max-width:$mobile-size){
      height:35px;
      overflow-x: scroll;
      scrollbar-width: none;
    }
    .sliderBodyList{
        width:auto;
        height:90px;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:19px;
        transition: 0.3s ease;
        @media(max-width:$mobile-size){
          height:100%;
          position: static;
          gap:5px;
        }
        .sliderBodyListItem{
            width:165px;
            height:90px;
            display:flex;
            justify-content: center;
            align-items: center;
            background: #252525;
            @media(max-width:$mobile-size){
              width:60px;
              height:35px;
            }
            &:hover{
                cursor:pointer;
            }
            &Active{
                background: #9C3131;
            }
        }
    }
  }
}
