$mobile-size:480px;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width:100%;
  @media(max-width:$mobile-size){
    padding:0 19px;
  }
}

@font-face {
  font-family: 'Averta Demo PE';
  src: url('../../../pages/fonts/AvertaDemoPE-Regular.otf');
  src: local('AvertaDemoPE'),
      url('../../../pages/fonts/AvertaDemoPE-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta CY';
  src: url('../../../pages/fonts/Averta-Cyrillic-Bold.otf');
  src: local('AvertaCY'),
      url('../../../pages/fonts/Averta-Cyrillic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta CY';
  src: url('../../../pages/fonts/Averta-Cyrillic-SemiBold.otf');
  src: local('AvertaCY'),
      url('../../../pages/fonts/Averta-Cyrillic-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tafel Sans Pro';
  src: url('../../../pages/fonts/TafelSansPro-Bold.ttf');
  src: local('TafelSansPro'),
      url('../../../pages/fonts/TafelSansPro-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.content{
  width:100%;
  height:auto;
  background: #111;
  box-sizing: border-box;
  padding:144px 69px 242px;
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: center;
  @media(max-width:$mobile-size){
    padding:0;
  }
}