$mobile-size: 480px;

@mixin fontAvertaCY() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin fontAvertaPE() {
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: min(1783px, 100%);
  height: auto;
  margin: 20px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 38px;
  @media (max-width: $mobile-size) {
    margin: 55px 0 0 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .leftColumn {
    width: 825px;
    height: auto;
    @media (max-width: $mobile-size) {
      width: 100%;
    }
  }
  .rightColumn {
    flex: 1 0 auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    @media (max-width: $mobile-size) {
      flex-flow: column nowrap;
      flex: 0 0 auto;
      width: 100%;
    }
    .mainCharacteristics {
      width: 515px;
      height: auto;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
      @media (max-width: $mobile-size) {
        width: 100%;
        gap: 45px;
      }
      .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        .titleAndRate {
          @media (max-width: $mobile-size) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .title {
            @include fontAvertaCY();
            font-size: 50px;
            @media (max-width: $mobile-size) {
              font-size: 24px;
              font-weight: 600;
            }
          }
          .infoBar {
            width: fit-content;
            height: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            .rateBlock {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              .stars {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                position: relative;
                .starWrapper {
                  position: relative;
                  .star {
                    width: 14px;
                    aspect-ratio: 1/1;
                  }
                }
              }
              .reviewsNumber {
                @include fontAvertaPE();
                color: #9c3131;
                text-wrap: nowrap;
              }
            }
          }
        }
        .indicatorsBlock {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          .questions {
            color: #8d8d8d;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            .questionsText {
              @include fontAvertaPE();
              font-size:12px;
            }
          }
          .share {
            color: #8d8d8d;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            .shareText {
              @include fontAvertaPE();
              font-size: 12px;
            }
          }
        }
        .priceBlock {
          margin:15px 0 0 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 10px;
          .actualPrice {
            @include fontAvertaCY();
            font-size: 22px;
            font-weight: 600;
          }
          .price {
            @include fontAvertaPE();
            color: #808080;
            font-size: 16px;
            text-decoration: line-through;
          }
        }
      }
      .characteristics {
        width: 350px;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;
        @media(max-width:$mobile-size){
          width:100%;
          gap:10px;
        }
        .characteristicsTitle {
          @include fontAvertaCY();
          font-size: 29px;
          @media(max-width:$mobile-size){
            font-size: 18px;
            font-weight: 600;
            margin:0 0 21px 0;
          }
        }
        .characteristicsItem {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 10px;
          .characteristicsItemTitle {
            @include fontAvertaPE();
            width: fit-content;
            height: auto;
            color: #8d8d8d;
          }
          .characteristicsItemUnderline {
            flex: 1 0 auto;
            height: 100%;
            box-sizing: border-box;
            border-bottom: 1px dashed #fff;
          }
          .characteristicsItemValue {
            @include fontAvertaPE();
            color: #fff;
          }
        }
      }
    }
    .description {
      width: 390px;
      height: auto;
      box-sizing: border-box;
      @media (max-width: $mobile-size) {
        width: 100%;
        display:flex;
        flex-flow:column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column-reverse;
      }
      .toCart {
        width: 390px;
        height: auto;
        box-sizing: border-box;
        padding: 25px;
        background: #1a1a1a;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: $mobile-size) {
          width: 100%;
          padding: 0;
          margin:0;
        }

        .cartBlock {
          margin: 45px 0 0 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media(max-width:$mobile-size){
            box-sizing: content-box;
            padding:10px 19px;
            background: #111;
            justify-content: center;
            gap:10px;
            margin:0;
            position:fixed;
            bottom:0;
            left:50%;
            translate:-50% 0;
            z-index:50;
          }
          .addToCartButton {
            @include fontAvertaCY();
            width: 278px;
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.77);
            font-weight: 400;
            background: #9c3131;
            backdrop-filter: blur(6.650000095367432px);
            border: none;
            @media(max-width:$mobile-size){
              width:240px;
              height:45px;
              font-size: 16px;
              font-weight: 400;
            }
            &:hover {
              opacity: 0.9;
              cursor: pointer;
            }
          }
          .cartIconContainer {
            width: 53px;
            height: 53px;
            background: #252525;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width:$mobile-size){
              width:45px;
              height:45px;
            }
            &:hover {
              cursor: pointer;
              background: #2f2e2e;
            }
          }
        }
        .favouritesBlock {
          width: 100%;
          margin: 10px;
          display: flex;
          gap: 8px;
          @media(max-width:$mobile-size){
            display:none;
          }
          .favouritesBlockText {
            @include fontAvertaPE();
            color: #a1a1a1;
          }
        }
      }
      .engineSound {
        margin: 18px 0 0 0;
        @media(max-width:$mobile-size){
          width:100%;
          margin:45px 0 0 0;
        }
      }
      .descriptionBlock {
        width: 100%;
        height: auto;
        margin: 12px 0 0 0;
        &Title {
          @include fontAvertaCY();
          @media(max-width:$mobile-size){
            font-size: 18px;
            font-weight:600;
          }
        }
        &Text {
          @include fontAvertaPE();
          margin: 10px 0 0 0;
          color: #8d8d8d;
          @media(max-width:$mobile-size){
            margin:15px 0 0 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
