$mobile-size:480px;

@mixin fontAvertaDemoPE() {
  font-family: "Averta Demo PE";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin fontAvertaCY(){
    font-family: "Averta CY";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper {
  width: 445px;
  height: 460px;
  background: #252525;
  @media(max-width:$mobile-size){
    width:100%;
    height:auto;
  }
  &:hover .info .title {
    color: #9c3131;
  }
  &:hover {
    cursor: pointer;
  }
  .imageContainer {
    width: 100%;
    height: 296px;
    overflow-y: hidden;
    position: relative;
    @media(max-width:$mobile-size){
      height:auto;
      aspect-ratio: 1/0.6;
    }
    .goodImage {
      width: 100%;
      height: auto;
    }
    .heartIconContainer {
      position: absolute;
      top: 21px;
      right: 23px;
      @media(max-width:$mobile-size){
        top:5px;
        right:5px;
      }
      .heartIcon {
        width: 31px;
        height: auto;
        @media(max-width:$mobile-size){
          width:20px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .info {
    margin: 32px 0 0 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 30px 16px;
    @media(max-width:$mobile-size){
      margin:10px 0 0 0;
      padding:10px 12px;
    }
    .priceContainer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      .actualPrice {
        @include fontAvertaCY();
        color: #fff;
        @media(max-width:$mobile-size){
          font-size:12px;
          font-weight: 600;
        }
      }
      .price {
        @include fontAvertaDemoPE();
        margin: 5px 0 0 10px;
        color: #818181;
        text-decoration-line: line-through;
        @media(max-width:$mobile-size){
          font-size: 8px;
          margin:4px 0 0 5px;
        }
      }
      .discount {
        @include fontAvertaDemoPE();
        margin: 7px 0 0 5px;
        width: 39px;
        height: 19px;
        background: #9c3131;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fbfbfb;
        font-size: 15px;
        @media(max-width:$mobile-size){
          margin:4px 0 0 2px;
          font-size: 6px;
          width:20px;
          height:9px;
        }
      }
    }
    .title {
        @include fontAvertaCY();
      margin: 5px 0 0 0;
      color: #fff;
      font-size: 20px;
      @media(max-width:$mobile-size){
        margin:3px 0 0 0;
        font-size: 8px;
        font-weight: 400;
      }
    }
    .otherContainer {
      margin: 15px 0 0 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      @media(max-width:$mobile-size){
        margin:10px 0 0 0;
        gap:10px;
      }
      .rating {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        @media(max-width:$mobile-size){
          gap:3px;
        }
        .star {
          width: 21px;
          height: auto;
          @media(max-width:$mobile-size){
            width:10px;
          }
        }
        .ratingValue {
          @include fontAvertaDemoPE();
          color: #818181;
          @media(max-width:$mobile-size){
            font-size: 8px;
          }
        }
      }
      .reviews {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .reviewIcon {
          width: 22px;
          height: auto;
        }
        .text {
          @include fontAvertaDemoPE();
          color: #818181;
        }
        @media(max-width:$mobile-size){
          gap:3px;
          .reviewIcon{
            width:8.5px;
          }
          .text{
            font-size: 8px;
            font-weight: 400;
          }
        }
      }
    }
    .button{
      @include fontAvertaCY();
      margin:10px 0 0 0;
      font-size: 8px;
      font-weight: 600;
      color:#fff;
      width:100%;
      height:25px;
      background: #9c3131;
      display:none;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      @media(max-width: $mobile-size){
        display:flex;
      }
    }
  }
}
