$mobile-size:480px;

.wrapper {
  position: static;
  // position: absolute;
  z-index:200;
  bottom: 0;
  left: 0;
  // translate: 0 99%;
  width: 100vw;
  // width: 100%;
  height: auto;
  background: #111;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding:0 24px;
  @media(max-width:$mobile-size){
    position:static;
    translate:0 0;
    padding:0 19px;
  }
  .closeButtonContainer {
    margin:0 20px 0 0;
    align-self: flex-end;
    width: auto;
    height: auto;
    &:hover {
      cursor: pointer;
    }
    .image {
      width: 35px;
      height: auto;
    }
    @media(max-width:$mobile-size){
      display:none;
    }
  }
  .linksContainer {
    width: 100%;
    height: min(1080px, 100vh - 115px);
    overflow-y:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 50px;
    row-gap: 55px;
    scrollbar-width:thin;
    scrollbar-color:rgba(255, 255, 255, 0.2) transparent;
    @media(max-width:$mobile-size){
      flex-flow:column nowrap;
      margin:44px 0 0 0;
      row-gap: 45px;
      scrollbar-width: none;
    }
    &::-webkit-scrollbar{
        width:4px;
      }
    &::-webkit-scrollbar-track{
        background-color: #111;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2px;
    }
    .block {
      width: 230px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;
      @media(max-width:$mobile-size){
        width:100%;
        gap:15px;
      }
      .title {
        color: #cacaca;
        font-family: "Averta CY";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media(max-width:$mobile-size){
          font-size: 18px;
        }
      }
      .links {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 7px;
        .link {
          color: #8d8d8d;
          font-family: "Averta Demo PE";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media(max-width:$mobile-size){
            font-size: 12px;
          }
          &:hover{
            cursor: pointer;
            color:#9c3131;
          }
        }
      }
    }
  }
}
