.button {
  color: #fff;
  text-align: center;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #9c3131;
  background: transparent;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: #9c3131;
  }
}
