$mobile-size:480px;

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  .wrapper {
    width: min(1920px, 100%);
    min-height: 304px;
    @media(max-width:$mobile-size){
      padding:0 19px;
      min-height: 0;
    }
    .content {
      margin: 63px 0 0 65px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      gap: 53px;
      @media(max-width:$mobile-size){
        margin:45px 0 0 0;
        gap:15px;
      }
      & h2 {
        color: #fff;
        font-family: "Averta CY";
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media(max-width:$mobile-size){
          font-size: 18px;
          font-weight: 600;
        }
      }
      & nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 45px;
        .link {
          @media (max-width: 480px) {
            &:last-child {
              display: none;
            }
            &:nth-child(2){
              display:none;
            }
            &:nth-child(3){
              display: none;
            }
          }
          .button {
            box-sizing: border-box;
            padding: 10px 45px;
            border: none;
            background: #9c3131;
            color: #fff;
            font-family: "Averta Demo PE";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
              cursor: pointer;
            }
            @media(max-width:$mobile-size){
              font-size: 12px;
              padding:10px 30px;
            }
          }
        }
      }
    }
  }
}
