$mobile-size:480px;

@mixin h2font() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media(max-width:$mobile-size){
    font-size: 18px;
    font-weight: 600;
  }
}

@mixin pfont() {
  color: #8e8e8e;
  font-family: "Averta Demo PE";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media(max-width:$mobile-size){
    font-size: 12px;
  }
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  position: relative;
  .decoration {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    @media(max-width: $mobile-size){
      display:none;
    }
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1586px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    @media(max-width:$mobile-size){
      padding:0 19px;
      min-height: 100px;
    }
    .mainInfo {
      max-width: 1127px;
      margin: 80px 0 0 66px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 98px;
      @media(max-width:$mobile-size){
        margin:45px 0;
        gap:20px;
        width:100%;
      }
      .header {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        & h2 {
          @include h2font();
        }
        & p {
          @include pfont();
        }
        @media(max-width:$mobile-size){
          gap:15px;
          & h2{
            width:200px;
          }
          & p{
            font-size: 12px;
          }
        }
      }
      .advantages {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        row-gap: 65px;
        column-gap: 110px;
        @media(max-width:$mobile-size){
          flex-wrap:nowrap;
          width:100%;
          overflow-x: scroll;
          justify-content: flex-start;
          gap:15px;
          scrollbar-width: none;
        }
        .advCard {
          width: 298px;
          height: 100px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          @media(max-width:$mobile-size){
            width:70px;
            flex-flow:column nowrap;
            height:auto;
            gap:5px;
          }
          .iconContainer {
            width: 100px;
            aspect-ratio: 1/1;
            background: #252525;
            @media(max-width:$mobile-size){
              width:100%;
            }
          }
          .advTitle {
            @include h2font();
            font-size: 20px;
            @media(max-width:$mobile-size){
              font-size: 8px;
            }
          }
        }
      }
    }
    .blogBlock {
      margin: 105px 0 0 69px;
      width: 852px;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
      @media(max-width:$mobile-size){
        margin:0;
        gap:15px;
        width:100%;
      }
      & h2 {
        @include h2font();
      }
      .descriptionBlock {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        @media(max-width:$mobile-size){
          flex-flow:column nowrap;
          gap:20px;
          align-items: flex-start;
        }
        .description {
          @include pfont();
          width: 594px;
          height: auto;
          @media(max-width:$mobile-size){
            width:100%;
          }
        }
        .goToBlogButton {
          width: 258px;
          height: 45px;
          background: #9c3131;
          border: none;
          box-sizing: border-box;
          padding: 10px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: 15px;
          & span {
            @include pfont();
            color: rgba(255, 255, 255, 0.77);
          }
          &:hover {
            cursor: pointer;
          }
          @media(max-width:$mobile-size){
            width:150px;
            height:32px;
            padding:0;
            gap:10px;
            .arrowRight{
              width:13px;
            }
          }
        }
      }
    }
    .sliderBlock{
        margin:3px 0 0 69px;
        width:min(1545px, 100% - 69px);
        height:auto;
        @media(max-width:$mobile-size){
          margin:45px 0 0 0;
          width:100%;
        }
    }
  }
}
