@mixin fontAvertaCY() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  .wrapper {
    width: min(100%, 1920px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 78px 0;
    .title {
      @include fontAvertaCY();
      font-size: 50px;
    }
    .adding {
      margin: 5px 0 0 0;
      color: #b0b0b0;
      font-family: "Averta Demo PE";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .slider {
      margin: 65px 0 65px 0;
      width: 1280px;
      height: 600px;
      border:1px solid yellow;
    }
  }
}
