$mobile-size:480px;

@mixin baseFont() {
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media(max-width:$mobile-size){
    font-size: 6px;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25px;
  .navBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @media(max-width:$mobile-size){
      display:none;
    }
    .navButton {
      width: 55px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #252525;
      border: none;
      &:hover {
        cursor: pointer;
      }
      .arrow {
        width: 14px;
        height: auto;
      }
      &:last-child {
        .arrow {
          rotate: 180deg;
        }
      }
    }
  }
  .slides {
    width: 100%;
    height: 410px;
    position: relative;
    overflow-x: hidden;
    @media(max-width:$mobile-size){
      overflow-x: scroll;
      height:255px;
      // height:170px;
      scrollbar-width: none;
      &::-webkit-scrollbar{
        display:none
      }
    }
    .slidesList {
      position: absolute;
      left: 0;
      top: 0;
      width: fit-content;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      transition: 0.3s;
      @media(max-width:$mobile-size){
        gap:10px;
      }
      .slide {
        width: 375px;
        height: 410px;
        background: #252525;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        @media(max-width:$mobile-size){
          width:240px;
          // width:150px;
          height:272px;
          // height:170px;
        }
        .imageContainer {
          width: 100%;
          height: 160px;
          @media(max-width:$mobile-size){
            height:104px;
            // height:65px;
            position:relative;
            flex-shrink: 0;
          }
          .slideImage {
            object-fit: cover;
            width: 100%;
            height: auto;
            @media(max-width:$mobile-size){
              object-fit: cover;
            }
          }
        }
        .textContainer {
          width: 229px;
          height: 160px;
          margin: 15px 0 0 22px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 15px;
          @media(max-width:$mobile-size){
            //flex:1 0 auto;
            width:100%;
            margin:0;
            padding:10px;
            gap:16px;
            // gap:10px;
            height:150px;
          }
          .slideHeader {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            & h3 {
              color: #bfbfbf;
              font-family: "Averta CY";
              font-size: 25px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              @media(max-width:$mobile-size){
                width:100%;
                font-size: 16px;
                // font-size: 10px;
              }
            }
            .articleLink {
              @include baseFont();
              color: #9c3131;
              @media(max-width:$mobile-size){
                font-size: 12px;
                // font-size: 6px;
              }
            }
          }
          .text {
            @include baseFont();
            color: #bfbfbf;
            @media(max-width:$mobile-size){
              font-size: 10px;
            }
          }
        }
      }
      .commentsBlock {
        margin: 23px 0 0 22px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .commentIcon {
          width: auto;
          height: 20px;
        }
        & span {
          @include baseFont();
          color: #fff;
        }
        @media(max-width:$mobile-size){
          margin:0;
          gap:8px;
          // gap:5px;
          position:absolute;
          bottom:16px;
          // bottom:10px;
          left:10px;
          .commentIcon{
            height:13px;
            // height:8px;
          }
          & span{
            font-size: 10px;
          }
        }
      }
    }
  }
}
