$mobile-size:480px;

@mixin fontAvertaCY() {
  color: #fff;
  font-family: "Averta CY";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin fontAvertaPE() {
  color: #818181;
  font-family: "Averta Demo PE";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #191919;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  @media(max-width:$mobile-size){
    padding:0;
    background: none;
  }
  .mainBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 5px;
    &Top {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      @media(max-width:$mobile-size){
        flex-flow:column nowrap;
        flex-direction: column-reverse;
        gap:14px;
      }
      .name {
        @include fontAvertaCY();
        @media(max-width:$mobile-size){
          font-size: 12px;
        }
      }
      .reviewInfo{
        display:flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap:20px;
        @media(max-width:$mobile-size){
          flex-direction: row-reverse;
          gap:10px;
        }
        .reviewDate{
            @include fontAvertaPE();
            font-size: 20px;
            @media(max-width:$mobile-size){
              font-size: 12px;
            }
        }
        .rate{
            display:flex;
            flex-flow:row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap:5px;
            .star{
                width:18px;
                height:auto;
                @media(max-width:$mobile-size){
                  width:11px;
                }
            }
        }
      }
    }
    .mainReviewText{
        @include fontAvertaPE();
        @media(max-width:$mobile-size){
          font-size: 12px;
        }

    }
  }
  .advantagesBlock{
    width:100%;
    height:auto;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5px;
    @media(max-width:$mobile-size){
      gap:10px;
    }
    &Title{
        @include fontAvertaCY();
        @media(max-width:$mobile-size){
          font-size: 12px;
        }
    }
    &Text{
        @include fontAvertaPE();
        @media(max-width:$mobile-size){
          font-size:12px;
        }
    }
  }
  .splitter{
    width:100%;
    height:1px;
    background: #8D8D8D;
  }
}
