$mobile-size:480px;

.wrapper {
  width: min(1782px, 100%);
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: #161616;
  gap: 25px;
  &::-webkit-scrollbar{
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #343333;
    border-radius: 3px;
}
&::-webkit-scrollbar-thumb {
  background-color: #6a6868;
  border-radius: 3px;
  border: none;
}
&::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}
  @media(max-width:$mobile-size){
    overflow-x: auto;
    padding:0;
    gap:0;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      width:none;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;
    & h3 {
      color: #fff;
      font-family: "Averta CY";
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    & p {
      color: #7d7d7d;
      font-family: "Averta Demo PE";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    @media(max-width:$mobile-size){
      display:none;
    }
  }
  .selectBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width:100%;
    @media(max-width:$mobile-size){
      gap:10px;
      scrollbar-width: none;
      scroll-behavior: smooth;
    }
    .card {
      width: 204px;
      height: auto;
      flex:1;
      min-width: 0;
      @media(max-width:$mobile-size){
        width:70px;
        flex:0 0 70px;
      }
      &:hover{
        cursor: pointer;
      }
      &:hover .name{
        color:#9C3131;
      }
      .iconContainer {
        width: 100%;
        aspect-ratio: 1/1;
        background: #252525;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:$mobile-size){
          height:70px;
        }

        &Selected{
            background: #9C3131;
        }
        .icon {
          width: 200px;
          width:90%;
          height: auto;
          @media(max-width:$mobile-size){
            width:calc(100% - 16px);

          }
        }
      }
      .name {
        margin:8px 0 0 0;
        text-align: center;
        color: #fff;
        font-family: "Averta Demo PE";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media(max-width:1400px){
          font-size: 20px;
        }
        @media(max-width:1250px){
          font-size: 16px;
        }
        @media(max-width:$mobile-size){
          margin:5px 0 0 0;
          font-size: 10px;
        }
        &Selected{
            color:#9C3131;
        }
      }
    }
  }
}
