$mobile-size:480px;

@mixin font() {
  color: #fff;
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1920px);
    min-height: 680px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    @media(max-width:$mobile-size){
      min-height: 0;
      padding:0 19px;
      align-items: flex-start;
    }
    .title {
      @include font();
      margin: 112px 0 0 0;
      font-size: 70px;
      font-weight: 700;
      @media(max-width:$mobile-size){
        margin:0;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .subtitle {
      @include font();
      font-size: 35px;
      font-weight: 400;
      @media(max-width:$mobile-size){
        font-size: 12px;
        margin:3px 0 0 0;
      }
    }
    .flexContainer {
      margin: 55px 0 0 0;
      width: 1400px;
      height: 270px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 70px;
      @media(max-width:$mobile-size){
        margin:15px 0 0 0;
        width:100%;
        height:auto;
        flex-flow:row nowrap;
        justify-content: flex-start;
        gap:20px;
        overflow-x: scroll;
        scrollbar-width: none;
      }
      .card {
        width: 475px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        @media(max-width:$mobile-size){
          width:247px;
          padding:10px 0 10px 0;
          gap:15px;
        }
        .text {
          width:350px;
          @include font();
          color: #b0b0b0;
          font-size: 20px;
          font-weight: 400;
          @media(max-width:$mobile-size){
            font-size: 12px;
          }
        }
      }
    }
  }
}
