.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #9C3131;
  &:hover{
    opacity:0.9;
    cursor: pointer;
  }
}
