$mobile-size:480px;

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 45px;
  @media(max-width:$mobile-size){
    gap:25px;
  }
  .textBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 35px;
    @media(max-width:$mobile-size){
      gap:10px;
    }
    & h3 {
      color: #fff;
      font-family: "Averta CY";
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size: 18px;
      }
    }
    .text {
      color: #b0b0b0;
      text-align: right;
      font-family: "Averta CY";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      width:228px;
      @media(max-width:$mobile-size){
        font-size: 12px;
        max-width: 196px;
      }
    }
  }
  .image {
    width: 70px;
    height: auto;
    @media(max-width:$mobile-size){
      width:50px;
    }
  }
}
