$mobile-size:480px;

@mixin font() {
  font-family: "Averta CY";
  font-style: normal;
  line-height: normal;
}

.mainWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  @media(max-width:$mobile-size){
    margin:80px 0 0 0;
  }
  .wrapper {
    width: min(100%, 1413px);
    min-height: 1080px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 107px 0px;
    gap: 55px;
    @media(max-width:$mobile-size){
      min-height: 0;
      padding:0 18px;
      gap:35px;
    }
    .upperBlock {
      width: 100%;
      .title {
        @include font();
        color: #fff;
        font-size: 70px;
        font-weight: 700;
        @media(max-width:$mobile-size){
          font-size: 18px;
        }
      }
      .subtitle {
        @include font();
        color: #fff;
        font-size: 35px;
        font-weight: 400;
        @media(max-width:$mobile-size){
          font-size: 12px;
        }
      }
      .textFlex {
        margin: 55px 0 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width:$mobile-size){
          margin:20px 0 0 0;
          flex-flow:column nowrap;
          justify-content: flex-start;
          width:90%;
          gap:10px;
        }
        .text {
          width: 607px;
          height: auto;
          @include font();
          color: #b0b0b0;
          font-size: 20px;
          font-weight: 400;
          @media(max-width:$mobile-size){
            width:100%;
            font-size: 10px;
          }
        }
      }
    }
    .middleBlock {
      width: 100%;
      padding: 55px 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #b0b0b0;
      border-bottom: 1px solid #b0b0b0;
      @media(max-width:$mobile-size){
        padding:10px 0;
        flex-flow:column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap:15px;
      }
      .flexBlock {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 35px;
        @media(max-width:$mobile-size){
          gap:20px;
        }
        .textContainer {
          width: 500px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 25px;
          @media(max-width:$mobile-size){
            width:auto;
            gap:15px;
          }
          .textTitle {
            @include font();
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            @media(max-width:$mobile-size){
              font-size: 18px;
            }
          }
          .textText {
            @include font();
            color: #b0b0b0;
            font-size: 20px;
            font-weight: 400;
            @media(max-width:$mobile-size){
              font-size:12px;
            }
          }
        }
      }
    }
    .bottomBlock {
      align-self: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 25px;
      @media(max-width:$mobile-size){
        justify-content: flex-start;
        align-items: flex-start;
        gap:20px;
        overflow: hidden;
      }
      .hugoLogo{
        @media(max-width:$mobile-size){
          translate: 0 7px;
          clip-path:inset(0 0 0 8px);
        }
      }
      .bottomTextBlock {
        width: 406px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
        @media(max-width:$mobile-size){
          width:100%;
          gap:10px;
        }
        .bottomTextBlockTitle {
          @include font();
          color: #fff;
          font-size: 30px;
          font-weight: 400;
          @media(max-width:$mobile-size){
            font-size: 18px;
          }
        }
        .bottomTextBlockText {
          @include font();
          color: #b0b0b0;
          font-size: 20px;
          font-weight: 400;
          @media(max-width:$mobile-size){
            font-size: 12px;
          }
        }
      }
    }
  }
}
