$mobile-size:480px;

.wrapper {
  width: 620px;
  height: 680px;
  background: #191919;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  @media(max-width:$mobile-size){
    width:100%;
    height:auto;
    background: none;
  }
  .logoContainer {
    position: absolute;
    top: 23px;
    left: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    .logo {
      width: 55px;
      height: auto;
    }
    & p {
      color: #fff;
      font-family: "Averta Demo PE";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    @media(max-width:$mobile-size){
      display:none;
    }
  }
  .container {
    width: 297px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @media(max-width:$mobile-size){
      width:100%;
      align-items: center;
    }
    & h2 {
      color: #fff;
      font-family: "Averta CY";
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size: 32px;
      }
    }
    .comment {
      margin: 10px 0 0 0;
      color: #8d8d8d;
      font-family: "Averta Demo PE";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media(max-width:$mobile-size){
        text-align: center;
        max-width: 196px;
      }
    }
    .inputBlock {
      width: 100%;
      height: auto;
      margin: 30px 0 0 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      @media(max-width:$mobile-size){
        justify-content: center;
        gap:10px;
        margin:25px 0 0 0;
      }
      .char {
        position:relative;
        width: 70px;
        height: 70px;
        display:flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 3px solid #a49d9d;
        color: #fff;
        font-family: "Averta Demo PE";
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media(max-width:$mobile-size){
          width:56px;
          height:56px;
          font-size: 38px;
        }
        &Filled {
          border-bottom: 3px solid #9c3131;
        }
        .cursor{
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
          box-sizing: border-box;
          border-left:1px solid #fff;
          width:0px;
          height:38px;
          display:none;
          @media(max-width:$mobile-size){
            height:30px;
          }
          &Active{
            display:block;
          }
        }
      }
    }
    .getNewCode {
      margin: 15px 0 0 0;
      color: #8d8d8d;
      font-family: "Averta Demo PE";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media(max-width:$mobile-size){
        margin:25px 0 0 0;
        font-size: 12px;
      }
    }
    .enterWithAnotherEmail {
      margin: 12px 0 0 0;
      color: #9c3131;
      font-family: "Averta Demo PE";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media(max-width:$mobile-size){
        font-size:12px;
        margin:10px 0 0 0;
      }
    }
    & button {
      margin: 25px 0 0 0;
      width: 100%;
      height: 58px;
      background: #9c3131;
      backdrop-filter: blur(6.650000095367432px);
      border: none;
      color: rgba(255, 255, 255, 0.77);
      font-family: "Averta Demo PE";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: 0.1s;
      text-transform: uppercase;
      @media(max-width:$mobile-size){
        height:50px;
        font-size:15px;
        font-weight: 600;
        text-transform: capitalize;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transition: 0.1s;
      }
      &:focus-visible{
        outline: none;
      }
    }
  }
}
